.columnContainer {
  display: flex;
  flex-direction: column; /* Arrange items vertically */
  width: 40%;
  margin: 25px;
}

.rowContainer {
  display: flex;
  flex-direction: row; /* Arrange items horizontally */
  flex-wrap: wrap; /* Allow items to wrap to the next line */
  gap: 10px; /* Adds space between items */
}

.championOptionsContainer {
  display: flex;
  flex-direction: column; /* Arrange items vertically */
  gap: 10px; /* Adds space between items */
  margin: 0px 25px 25px 25px;
  height: 87vh;
  overflow-y: scroll;
  overflow-x: hidden;
}

.championOptionsContainer::-webkit-scrollbar {
  width: 0.5vw;
}

.championOptionsContainer::-webkit-scrollbar-thumb {
  background: rgb(var(--background-rgb-light));
  border-radius: 50px;
}

.championOptionsContainer::-webkit-scrollbar-track {
  background: rgb(var(--background-rgb));
}

.championOptionsGroup {
  margin-bottom: 30px;
}

.selectedChampionsContainer {
  width: 60%;
}

.selectedChampionsGroup {
  margin-top: 20px;
  margin-bottom: 20px;
}

.saveTeamModalButtonsContainer {
  margin: 1rem 0rem;
}

.saveTeamModalTitle {
  font-weight: bold;
  color: black;
}

.saveTeamModalHeader {
  justify-content: flex-start;
}

.saveTeamModalContent {
  justify-content: center;
  text-align: start;
  color: black;
  padding: 0px 20px;
}

.saveTeamModalCancelButton {
  min-width: 70px;
  padding: 5px;
  color: var(--mantine-color-dark-9);
  border-radius: 8px;
}

.saveTeamModalConfirmButton {
  padding: 5px;
  min-width: 70px;
  border-radius: 8px;
}
