.columnContainer {
  display: flex;
  flex-direction: column; /* Arrange items vertically */
  width: 40%;
  margin: 25px;
}

.rowContainer {
  display: flex;
  flex-direction: row; /* Arrange items horizontally */
  flex-wrap: wrap; /* Allow items to wrap to the next line */
  gap: 10px; /* Adds space between items */
  margin-top: 15px;
  margin-bottom: 15px;
}

.championOptionsContainer {
  display: flex;
  flex-direction: column; /* Arrange items vertically */
  gap: 10px; /* Adds space between items */
  margin: 25px;
  height: 84vh;
  overflow-y: scroll;
  overflow-x: hidden;
}

.selectedChampionsContainer {
  width: 60%;
}

.whiteText {
  color: white;
}

.championOptionsContainer::-webkit-scrollbar {
  width: 0.5vw;
}

.championOptionsContainer::-webkit-scrollbar-thumb {
  background: rgb(var(--background-rgb-light));
  border-radius: 50px;
}

.championOptionsContainer::-webkit-scrollbar-track {
  background: rgb(var(--background-rgb));
}
